<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeoItemMap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>
</head>
<body>

    <!--header area -->
    @await Html.PartialAsync("HeaderPartial")
    <!-- End header area -->
    @RenderBody()
    <!-- footer top area -->
    @await Html.PartialAsync("FooterPartial")
    <!-- End footer bottom area -->
    @await Html.PartialAsync("ScriptsPartial")



</body>
</html>
