<div class="controlB">
    <form asp-controller="Home" asp-action="Add" method="post">
        <button type="submit">Добавить метку</button>
    </form>
</div>

 
<script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map("YMapsID", {
            center: [53.90, 27.56],
            zoom: 10
        });

        $.ajax({
            url: "https://localhost:44337/Home/GetData",
            type: "GET",
            success: function (data) {
                console.log(data);

                for (var i in data.geoItems) {
                    console.log(data.geoItems[i].x);

                    var myPlacemark = new ymaps.Placemark([data.geoItems[i].x, data.geoItems[i].y], {
                        // Задаем содержимое балуна метки.
                        // Это содержимое будет отображаться при клике по кластеру.
                        balloonContentHeader: 'Метка № ' + data.geoItems[i].id + '(ID from DB)' ,
                        balloonContentBody: 'Описание:' + data.geoItems[i].description + '<br>' + 'Координаты: <br>' + 'X- ' + data.geoItems[i].x + ' Y- ' + data.geoItems[i].y
                    });
                    myMap.geoObjects.add(myPlacemark);
                }
            }
        });

        var myPlacemark = new ymaps.Placemark([53.90, 27.56], {
            // Задаем содержимое балуна метки.
            // Это содержимое будет отображаться при клике по кластеру.
            balloonContentHeader: 'Метка № 1',
            balloonContentBody:123
        });
 
        myMap.geoObjects.add(myPlacemark);
    });

    
</script>


<div id="YMapsID" style="width:1500px;height:800px"></div>