<div class="controlB">
    <form asp-controller="Home" asp-action="Add" method="post">
        <button type="submit">Добавить метку</button>
    </form>
</div>

 
<script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map("YMapsID", {
            center: [53.90, 27.56],
            zoom: 10
        });

        $.ajax({
            url: 'https://localhost:44337/Home/PostData',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (result) {
                for (var i in result.geoItems) {

                    var myPlacemark = new ymaps.Placemark([result.geoItems[i].x, result.geoItems[i].y], {
                        balloonContentHeader: 'Метка № ' + result.geoItems[i].id + '(ID from DB)',
                        balloonContentBody: 'Описание:' + result.geoItems[i].description + '<br>' + 'Координаты: <br>' + 'X- ' + result.geoItems[i].x + ' Y- ' + result.geoItems[i].y
                    });
                    myMap.geoObjects.add(myPlacemark);
                }
            }

        });

    });

    
</script>


<div id="YMapsID" style="width:1500px;height:800px"></div>